@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Inter, sans-serif;
}

/* https://www.realtimecolors.com/?colors=F2F7F4-020303-49B681-26734E-258D5B&fonts=Inter-Inter */

:root {
    --text: hsl(144, 24%, 96%);
    --background: hsl(180, 20%, 1%);
    --primary: hsl(151, 43%, 50%);
    --secondary: hsl(151, 50%, 30%);
    --accent: hsl(151, 58%, 35%);

    --text-900: hsl(144, 24%, 96%, 0.9);
    --text-800: hsl(144, 24%, 96%, 0.8);
    --text-700: hsl(144, 24%, 96%, 0.7);
    --text-600: hsl(144, 24%, 96%, 0.6);
    --text-500: hsl(144, 24%, 96%, 0.5);
    --text-400: hsl(144, 24%, 96%, 0.4);
    --text-300: hsl(144, 24%, 96%, 0.3);
    --text-200: hsl(144, 24%, 96%, 0.2);
    --text-100: hsl(144, 24%, 96%, 0.1);

    --background-900: hsl(180, 20%, 1%, 0.9);
    --background-800: hsl(180, 20%, 1%, 0.8);
    --background-700: hsl(180, 20%, 1%, 0.7);
    --background-600: hsl(180, 20%, 1%, 0.6);
    --background-500: hsl(180, 20%, 1%, 0.5);
    --background-400: hsl(180, 20%, 1%, 0.4);
    --background-300: hsl(180, 20%, 1%, 0.3);
    --background-200: hsl(180, 20%, 1%, 0.2);
    --background-100: hsl(180, 20%, 1%, 0.1);

    --primary-900: hsl(151, 43%, 50%, 0.9);
    --primary-800: hsl(151, 43%, 50%, 0.8);
    --primary-700: hsl(151, 43%, 50%, 0.7);
    --primary-600: hsl(151, 43%, 50%, 0.6);
    --primary-500: hsl(151, 43%, 50%, 0.5);
    --primary-400: hsl(151, 43%, 50%, 0.4);
    --primary-300: hsl(151, 43%, 50%, 0.3);
    --primary-200: hsl(151, 43%, 50%, 0.2);
    --primary-100: hsl(151, 43%, 50%, 0.1);

    --secondary-900: hsl(151, 50%, 30%, 0.9);
    --secondary-800: hsl(151, 50%, 30%, 0.8);
    --secondary-700: hsl(151, 50%, 30%, 0.7);
    --secondary-600: hsl(151, 50%, 30%, 0.6);
    --secondary-500: hsl(151, 50%, 30%, 0.5);
    --secondary-400: hsl(151, 50%, 30%, 0.4);
    --secondary-300: hsl(151, 50%, 30%, 0.3);
    --secondary-200: hsl(151, 50%, 30%, 0.2);
    --secondary-100: hsl(151, 50%, 30%, 0.1);

    --accent-900: hsl(151, 58%, 35%, 0.9);
    --accent-800: hsl(151, 58%, 35%, 0.8);
    --accent-700: hsl(151, 58%, 35%, 0.7);
    --accent-600: hsl(151, 58%, 35%, 0.6);
    --accent-500: hsl(151, 58%, 35%, 0.5);
    --accent-400: hsl(151, 58%, 35%, 0.4);
    --accent-300: hsl(151, 58%, 35%, 0.3);
    --accent-200: hsl(151, 58%, 35%, 0.2);
    --accent-100: hsl(151, 58%, 35%, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text-900);
}

a {
    text-decoration: none;
}

button:hover {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
}

header.header > .nav-title {
    color: var(--text-600);
}

header.header > .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

header.header > .nav-items > a {
    color: var(--text-900);
    text-decoration: none;
}

header.header > .nav-items > a:hover {
    color: var(--text-600);
}

main {
    padding: 20px 32px;
}

.add-word-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 100%;
    font-size: 16px;
    background-color: var(--secondary-300);
    color: var(--text-600);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.add-word-button:hover {
    background-color: var(--secondary-400);
}

.no-words-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    font-size: 16px;
    color: var(--text-600);
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper > label {
    color: var(--text-600);
}

.input-wrapper > input {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
    color: var(--text-900);
    background-color: var(--secondary-300);
}

.input-wrapper > input:focus {
    outline: none;
}

.add-word-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-row {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.button-primary {
    padding: 12px 24px;
    background-color: var(--primary);
    color: var(--background);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-secondary {
    padding: 12px 24px;
    background-color: var(--secondary-300);
    color: var(--text-900);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-12 {
    gap: 12px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 12px 16px;
    width: 50%;
    text-align: center;
}

tr:not(:first-child) > td.data-cell {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

thead > tr > th {
    background-color: var(--text-100);
}

thead > tr:first-child > th:first-child {
    border-top-left-radius: 12px;
}

thead > tr:first-child > th:last-child {
    border-top-right-radius: 12px;
}

tbody > tr > td:first-child {
    border-left: 1px solid var(--text-100);
}

tbody > tr > td:last-child {
    border-right: 1px solid var(--text-100);
}

tbody > tr:last-child > td {
    border-bottom: 1px solid var(--text-100);
}

.white-trash-icon {
    stroke: var(--text-600);
    color: var(--text-600);
    width: 24px;
    height: 24px;
}

.clear-button {
    background: transparent;
    border: 0;
    cursor: pointer;
}